.form {
  max-width: 400px;
  margin: 10px auto;
}
input {
  background-color: #4c2885;
  border-radius: 10px;
  border: none;
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
    0 15px 40px rgba(0, 0, 0, 0.1);
  color: white;
  font-family: inherit;
  font-size: 1rem;
  padding: 1rem;
  margin-bottom: 2rem;
  width: 280px;
}

input::placeholder {
  color: #bbb;
}

input:focus {
  outline: none;
}

.card {
  margin: 20px auto;
  background-color: #4c2885;
  background-image: linear-gradient(315deg, #4c2885 0%, #4c11ac 100%);
  border-radius: 20px;
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
    0 15px 40px rgba(0, 0, 0, 0.1);
  display: flex;
  padding: 3rem;
  max-width: 700px;
}

.avatar {
  border: 10px solid #2a2a72;
  border-radius: 50%;
  height: 150px;
  width: 150px;
}

.user-info {
  color: #eee;
  margin-left: 2rem;
}

.user-info h2 {
  margin-top: 0;
}

.user-info ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  padding: 0;
  max-width: 400px;
}

.user-info ul li {
  display: flex;
  align-items: center;
}

.user-info ul li strong {
  font-size: 0.9rem;
  margin-left: 0.3rem;
  margin-right: 0.5rem;
}

.btn {
  margin: 0 10px;
  padding: 15px;
  color: #eee;
  cursor: pointer;
  border-radius: 10px;
  background-color: #636e72;
  outline: none;
  border: none;
}

.intro {
  color: #eee;
  max-width: 600px;
  margin: 20px auto;
}

.allrepos {
  display: flex;
  justify-self: center;
  align-items: center;
  flex-wrap: wrap;
}

.eachRepo {
  width: 400px;
  margin: 30px 40px;
  width: 400px;
  color: #eee;
  padding: 20px;
  background-color: #4c2885;
  background-image: linear-gradient(315deg, #4c2885 0%, #4c11ac 100%);
  border-radius: 20px;
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
    0 15px 40px rgba(0, 0, 0, 0.1);
}

.repoH2 {
  max-width: 300px;
  margin: 50px auto;
  text-align: center;
  color: white;
}

.svgSection {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
}

svg {
  /* margin-top: 10px; */
  margin-right: 10px;
  height: 25px;
  width: 25px;
}

.loginName {
  font-size: 15px;
  font-weight: 700;
}
